.touchSection {
  background: rgba(41, 55, 64, 0.1);
  border-radius: 30px;
  padding: 40px;
  text-align: center;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 80px;
  animation: fadeIn 2s ease-out;
  animation-delay: 3.5s;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.title {
  font-size: 2rem;
  margin-bottom: 10px;
  font-family: "Special Gothic Expanded One", sans-serif;
  align-items: center;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 20px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(123, 169, 207, 0.3);
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  color: white;
}

.button:hover {
  background-color: rgb(123, 169, 207);
}
